@import 'abstracts/variables';

input,
textarea,
select {
  background-color: #fff;
  border-width: 0px 0px 0px 0px;
  padding: 16px 25px;
  outline: none;
  color: $text-color;
  border-radius: 25px;
  width: 100%;
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.098) 0px 0px 0px 0.9694px inset;
  }

  &::placeholder {
    color: #77777790;
  }
}

.btn-primary, .btn-secondary, .btn-white, .btn-white1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 0;
  padding: 16px 30px;
  font-size: 15px;
  color: $white-color;
  background-color: $primary-color;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 20px;

  &:hover {
    color: $white-color !important;
    background-color: $background-color1;
  }
}

.btn-secondary {
  &:hover {
    color: $primary-color !important;
    background-color: $white-color !important;
  }
}

.btn-white, .btn-white1 {
  color: $primary-color !important;
  background-color: $white-color !important;
   &:hover {
    color: $white-color !important;
    background-color: $primary-color !important;
  }
}

.btn-white1 {
  &:hover {
    background-color: $background-color1 !important;
  }
}

.btn1 {
  border-radius: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
  i {
    margin-left: 10px;
    margin-right: -10px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 15px !important;
    rotate: -45deg;
    text-align: center;
    background-color: $white-color;
    color: $secondary-color;
    border-radius: 50%;
  }

  &:hover {
    i {
      color: $primary-color;
    }
  }
}

// Heading seperator
.divider-wave {
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' overflow='visible' height='100%' viewBox='0 0 24 24' fill='none' stroke='%23DC1D24' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10'%3E%3Cpath d='M0,6c6,0,6,13,12,13S18,6,24,6'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 24px 100%;
  width: 15%;
}

.title-sperator {
  width: 35%;
  margin: auto;
  display: flex;
  align-items: center;

  &::after, &::before {
    border-block-end: 0;
    border-block-start: 2px solid $primary-color;
    content: "";
    display: block;
    flex-grow: 1;
    margin: 0 10px;
  }

  @media (max-width: 768px) {
    width: 60%;
  }
}

.title-sperator1 {
  width: 30%;
  display: flex;
  align-items: center;

  &::after {
    border-block-end: 0;
    border-block-start: 2px solid $primary-color;
    content: "";
    display: block;
    flex-grow: 1;
    margin: 0 10px;
  }

  @media (max-width: 768px) {
    width: 60%;
  }
}

// Banner Seperator
.banner-sperator {
  height: 4px;
  width: 100px;
  background: #fff;
  border-radius: 2px;
  position: relative;
  margin-left: 27px;

  &::after {
    content: "";
    position: absolute;
    color: #fff;
    left: -27px;
    top: 0;
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 9px 0 0 0 currentColor, 18px 0 0 0 currentColor;
    box-shadow: 9px 0 0 0 currentColor, 18px 0 0 0 currentColor;
  }
}

// Shadow
.shadow {
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.099) !important; 
}

//Divider Pattern 
.divider-pattern {
  background: repeating-linear-gradient(-60deg, #D5D4D4, #D5D4D4 1px, transparent 1px, transparent 7px);
}

// Progress Bar
.percentage-wrapper {
  height: 38px;
  width: 38px;
  top: -47px;
  right: -17px;
  font-size: 13px;

  &::after{
    content: " ";
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: $primary-color;
    bottom: -10px;
    left: 50%;
    z-index: 1;
  }
}

.progress-bar {
  animation: progressBar 3s ease-in-out;
  animation-fill-mode:both; 
  -moz-animation: progressBar 3s ease-in-out;
  -moz-animation-fill-mode:both; 
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: width; }
}


// Flip Animation
.flip-animation .dynamic-wrapper {
    perspective: 1000px;
    min-width: 220px; /* prevents text jump */
    display: block;
    margin-bottom: 100px;
     @media (max-width: 992px) {
      margin-bottom: 80px;
     }
     @media (max-width: 768px) {
      margin-bottom: 50px;
     }
}

.flip-animation .dynamic-text {
    position: absolute;
    left: 33%;
    top: 0;
    opacity: 0;
    transform: rotateX(180deg);
    transform-origin: 50% 100%;
}

/* Active (flip in) */
.flip-animation .dynamic-text.active {
    animation: flip-in 1.2s;
    opacity: 1;
    transform: rotateX(0deg);
}

/* Inactive (flip out) */
.flip-animation .dynamic-text.inactive {
    animation: flip-out 1.2s;
}

/* Animations */
@keyframes flip-in {
    0% {
        opacity: 0;
        transform: rotateX(180deg);
    }
    35% {
        opacity: 0;
        transform: rotateX(120deg);
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotateX(360deg);
    }
}

@keyframes flip-out {
    0% {
        opacity: 1;
        transform: rotateX(0deg);
    }
    35% {
        opacity: 1;
        transform: rotateX(-40deg);
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: rotateX(180deg);
    }
}

/* Spin Animation  */
.spin {
  display: inline-block;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}