@import '../abstracts/variables';


// Colors
.primary {color: $primary-color;}
.secondary{color: $secondary-color;}
.text {color: $text-color;}
.white {color: $white-color;}
.grey{color: $grey-color;}
.primary-light {color: #DC1D2459 !important;}



// Bacground Color
.bg-primary {background-color: $primary-color !important;}
.bg-secondary {background-color: $secondary-color !important;}
.bg-dark {background-color: $dark-color !important;}
.bg-grey{background-color: $grey-color !important;}
.bg-primary-light {background-color: #DC1D2459 !important;}

// Border
.border-bottom-dashed {border-bottom: 1px dashed #87878726;}
.border-top-dashed {border-top: 1px dashed #87878726;}
.border-dashed {border: 1px dashed #D9D9D978;}
.border-grey {border-color: $border-grey !important;}
.border-lightgrey {border-color: $grey-color !important;}
.border-primary {border-color: $primary-color !important;}
.border-primary-light {border-color: #DC1D2459 !important;}
.border-light {border-color: $border-light !important;}


/* ---------------- PADDING ---------------- */
.p-6 { padding: 4rem !important; }
.p-7 { padding: 5rem !important; }
.p-8 { padding: 6rem !important; }
.p-9 { padding: 7rem !important; }
.p-10 { padding: 8rem !important; }

/* Padding Top */
.pt-6, .py-6 { padding-top: 4rem !important; }
.pt-7, .py-7 { padding-top: 5rem !important; }
.pt-8, .py-8 { padding-top: 6rem !important; }
.pt-9, .py-9 { padding-top: 7rem !important; }
.pt-10, .py-10 { padding-top: 8rem !important; }

/* Padding Bottom */
.pb-6, .py-6 { padding-bottom: 4rem !important; }
.pb-7, .py-7 { padding-bottom: 5rem !important; }
.pb-8, .py-8 { padding-bottom: 6rem !important; }
.pb-9, .py-9 { padding-bottom: 7rem !important; }
.pb-10, .py-10 { padding-bottom: 8rem !important; }

/* Padding Start */
.ps-6, .px-6 { padding-left: 4rem !important; }
.ps-7, .px-7 { padding-left: 5rem !important; }
.ps-8, .px-8 { padding-left: 6rem !important; }
.ps-9, .px-9 { padding-left: 7rem !important; }
.ps-10, .px-10 { padding-left: 8rem !important; }

/* Padding End */
.pe-6, .px-6 { padding-right: 4rem !important; }
.pe-7, .px-7 { padding-right: 5rem !important; }
.pe-8, .px-8 { padding-right: 6rem !important; }
.pe-9, .px-9 { padding-right: 7rem !important; }
.pe-10, .px-10 { padding-right: 8rem !important; }

/* ---------------- MARGIN ---------------- */
.m-6 { margin: 4rem !important; }
.m-7 { margin: 5rem !important; }
.m-8 { margin: 6rem !important; }
.m-9 { margin: 7rem !important; }
.m-10 { margin: 8rem !important; }

/* Margin Top */
.mt-6, .my-6 { margin-top: 4rem !important; }
.mt-7, .my-7 { margin-top: 5rem !important; }
.mt-8, .my-8 { margin-top: 6rem !important; }
.mt-9, .my-9 { margin-top: 7rem !important; }
.mt-10, .my-10 { margin-top: 8rem !important; }

/* Margin Bottom */
.mb-6, .my-6 { margin-bottom: 4rem !important; }
.mb-7, .my-7 { margin-bottom: 5rem !important; }
.mb-8, .my-8 { margin-bottom: 6rem !important; }
.mb-9, .my-9 { margin-bottom: 7rem !important; }
.mb-10, .my-10 { margin-bottom: 8rem !important; }

/* Margin Start */
.ms-6, .mx-6 { margin-left: 4rem !important; }
.ms-7, .mx-7 { margin-left: 5rem !important; }
.ms-8, .mx-8 { margin-left: 6rem !important; }
.ms-9, .mx-9 { margin-left: 7rem !important; }
.ms-10, .mx-10 { margin-left: 8rem !important; }

/* Margin Start */
.me-6, .mx-6 { margin-right: 4rem !important; }
.me-7, .mx-7 { margin-right: 5rem !important; }
.me-8, .mx-8 { margin-right: 6rem !important; }
.me-9, .mx-9 { margin-right: 7rem !important; }
.me-10, .mx-10 { margin-right: 8rem !important; }

section, .section-padding {
  padding: 100px 0;
}


// Overlay
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, $secondary-color 0%, $dark-color 100%);
  opacity: 0.6;
}


/* Width */

@media (min-width:768px) {
  .w-md-auto {width: auto !important;}
  .w-md-25 {width: 25% !important;}
  .w-md-50 {width: 50% !important;}
  .w-md-75 {width: 75% !important;}
  .w-md-100 {width: 100% !important;}
}

@media (min-width:996px) {
  .w-lg-25 {width: 25% !important;}
  .w-lg-50 {width: 50% !important;}
  .w-lg-75 {width: 75% !important;}
  .w-lg-100 {width: 100% !important;}
}

@media (min-width:1200px) {
  .w-xl-50 {width: 50% !important;}
  .w-xl-75 {width: 75% !important;}
}

@media (min-width:1400px) {
  .w-xxl-50 {width: 50% !important;}
}

// Sperator
.sperator {
  @media (max-width: 996px) {
    margin: auto;
  }
}

/* Sticky Header */
.navbar-sticky-in {
  position: fixed !important; /* Fixes navbar at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999 !important; /* Keeps it above other elements */
  background: $primary-color;
  box-shadow: 0px 1px 5px rgba(225, 225, 225, 0.1);

  .header-nav-inner {
    border: none !important;
  }
}

/*Back-to-top button  */
#back-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;

  @media (max-width:768px ) {
    bottom: 80px;
  }
}

#back-to-top a {
  width: 50px;
  height: 50px;
  transition: all ease-in-out .5s;
}

#back-to-top a:hover{
  background-color: $secondary-color !important;
}

#back-to-top a:after {
  position: absolute;
  content: '\f077';
  font-family: "FontAwesome";
  font-size: 16px;
  color: #fff;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%,-50%)
}

/* Animated rotating circle */

  .circle-container {
    position: relative;
    width: 600px;
    height: 600px;
    overflow: hidden;

    .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: 400px;
      animation: rotateCircle 18s linear infinite;
      background-image:url(../image/circle-bg1.png);
      background-size: 98%;
      animation-duration: 18s; 
      background-repeat: no-repeat;
      transition: all ease-in-out;
    }

    @media (max-width:768px ) {
      width: 85%;
      height: 85%;

      .circle {
        width: 100%;
        height: 100%;
      }
    }

  }

  /* Keyframes for rotating circle */
  @keyframes rotateCircle {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }

  @keyframes button-ripple {
    70% {
        -webkit-box-shadow: 0 0 0 var(--glow-size,15px) currentColor;
        box-shadow: 0 0 0 var(--glow-size,15px) currentColor;
        opacity: 0
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 currentColor;
        box-shadow: 0 0 0 0 currentColor;
        opacity: 0
    }
}