@import '../abstracts/variables';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: $font-family-base;
  font-size: 16px;           // default font size
  line-height: 1.4;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-base;
  font-weight: 700;
  line-height: 1.3;
  color: $secondary-color;
  text-transform: capitalize;
}

h1, .h1 { 
  font-size: 70px; 
  @media (max-width: 1200px) {font-size: 60px;}
  @media (max-width: 992px) {font-size: 50px;}
  @media (max-width: 768px) {font-size: 40px;}
  @media (max-width: 576px) {font-size: 32px;}
}

h2, .h2 { 
  font-size: 38px; 
  @media (max-width: 1200px) { font-size: 38px; }
  @media (max-width: 992px)  { font-size: 32px; }
  @media (max-width: 768px)  { font-size: 28px; }
  @media (max-width: 576px)  { font-size: 24px; }
}

h3, .h3 {
  font-size: 24px;
  @media (max-width: 992px) { font-size: 24px; }
  @media (max-width: 768px) { font-size: 22px; }
  @media (max-width: 576px) { font-size: 21px; }
}

h4, .h4 { 
  font-size: 21px;
  @media (max-width: 768px)  { font-size: 20px; }
 }
h5, .h5 { 
  font-size: 18px; 
  @media (max-width: 768px)  { font-size: 18px; }
}
h6, .h6 { 
  font-size: 16px; 
  @media (max-width: 768px)  { font-size: 16px; }
}

p {
  margin-bottom: 12px;
}

a {
  color: $white-color; 
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $primary-color;  
  }
}

small {
  font-size: 0.875rem;
}
