// Colors
$primary-color: #DC1D24;
$secondary-color: #1D1E21;
$white-color: #ffffff;
$text-color: #676767;
$grey-color: #F5F5F5;
$dark-color: #0C0C0E;
$background-color1: #A3050B;
$border-grey: #6767672E;
$border-light: #E6E9ED45;


// FONT
$font-family-base: 'Poppins', Arial, sans-serif;
$font-size-base: 15px;
$line-height-base: 1.5;